<div class="container mt-4">
    <div class="row">
        <div class="col-lg-12">
            <h3 style="text-align: center;">Counter App implement Via Input-Output Decorator</h3>
            <hr>
            <div class="my-3">
                <app-counter-output [counter]="counter"></app-counter-output></div>
            <div class="my-3">
                <app-counter-buttons (increment)="onIncrement()" (decrement)="onDecrement()" (reset)="onReset()"></app-counter-buttons>
            </div>
        </div>
    </div>
</div>

