<div class="container mt-4">
    <div class="row">
        <div class="col-lg-12 mt-2">
            <h3 style="text-align: center;">Counter App implement Via NGRX Store</h3>
        </div>
        <hr>
        <div class="col-lg-12 mt-2">
            <div class="my-3">
                <app-counter-op>
                </app-counter-op>
            </div>
            <div class="my-3">
               <app-counter-btn>
               </app-counter-btn> 
            </div>
        </div>
         
    </div>
</div>

